@media only screen and (max-width:480px){
  .box {
    background-color:ivory;
    width:fit-content;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 60%;
  }
  .boxChannel {
    width: fit-content;

    
  }
  .boxImage {
    width: 100%;
  }

  .boxTitle {
    justify-self: center;
  }
}
  nav {
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .box {
  border :2px solid black;
  background-color:ivory;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  background-color:rgb(223, 222, 222) ;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}