@media only screen and (max-width:480px){
  .box {
    border-style :2px solid black;
    background-color:ivory;
    width: fit-content;
  }
}
  nav {
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .box {
  border-style :2px solid black;
  background-color:ivory;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  background-color:rgb(223, 222, 222) ;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}